.btn-text {
    width: 7em;
    text-align: center;
    color: white !important;
}
.custom-toast{
    background-color: white !important;
    
}
.custom-toast-body{
    
}

.custom-toast-container{
    
}